[user]
	email = flaviocruz@gmail.com
	name = Flavio Cruz
[core]
	editor = vim
[alias]
	format-patch-repo = !git format-patch --subject-prefix=\"PATCH $(basename $(git rev-parse --show-toplevel))\"
[sendemail]
	smtpserver = /usr/bin/msmtp
