
@theme "/usr/share/rofi/themes/Monokai.rasi"
configuration {
icon-theme: "Papirus";
show-icons: true;
modi: "filebrowser,drun,combi";

}

timeout {
  action: "kb-cancel";
  delay:  0;
}

#window {
  run-display-format: "{icon} {name}";
  font: "JetBrainsMono NF 12";
}

filebrowser {
  directories-first: true;
  sorting-method:    "name";
}
